#header3{
    width:1200px;
    height:100px;
    background-color: #4f4f4f;
}
#header3>#exit{   
    display: block;
    float: left;
    margin: 18pt 25pt;
    width:100px;
    height:50px;
    background-color: #FE85B8;
}
#codytest{
    width:1200px;
    height:500px;
    background-color: #AFAFAF;
}
#codytest>#cpicture{
    display: block;
    margin: auto;
    width:600px;
    height:450px;
    background-color: blue;
}
#GoodOrBad{
    width:1200px;
    height:300px;
    background-color: cadetblue;
}
#GoodOrBad>#Good{
    float: left;
    margin: 40pt 150pt;
    width:200px;
    height:200px;
    background-color: greenyellow;
}
#GoodOrBad>#Bad{
    float: right;
    margin: 40pt 150pt;
    width:200px;
    height:200px;
    background-color: brown;
}