<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/LoginPage.css">
    <title>login</title>
</head>
<body>
<div id="wrap">
    <div id="header">
        <div id="logo">
            <img src='../images/logo.png'/>
        </div>
        <div id="head"></div>
    </div>

    <div id="log">
        <div id="login">
            <div id="form">
                <form action="/user/login" method="post">
                    <input type="text" name="userId" placeholder="ID"/>
                    <br/>
                    <input type="password" name="userPassword" placeholder="PW"/>
                    <br/>
                    <input type="submit" value="Login" id="login_btn">
                </form>
                <div id="member">
                    <a href='/user/join'>회원가입</a>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
