<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
<!-- 세션에 저장된 로그인 정보 출력 -->
<p>session 값 확인: <span th:text="${session.loginUserId}"></span></p>

<!-- 로그아웃 링크 -->
<a href="/user/logout">로그아웃</a>

<!-- 사진 업로드 기능 -->
<a href="#" onclick="document.getElementById('fileInput').click()">사진 업로드</a>
<input type="file" id="fileInput" name="files" style="display: none;" onchange="uploadFile()" multiple>


<!-- 건의하기 링크 -->
<a href="/suggest/save">건의하기</a>

<!-- 사용자 기반 옷추천 링크 -->
<a href="/coordi">사용자 기반 옷추천</a>

<h1>대구 현재 날씨</h1>
<p th:text="${weatherData}"></p>

<p>카테고리</p>
<p th:text="${session.category}"></p>

<nav>
    <ul>
        <li><a href="/category/total">전체</a></li>
        <li><a href="/category/outer">아우터</a></li>
        <li><a href="/category/top">상의</a></li>
        <li><a href="/category/bottom">하의</a></li>
        <li><a href="/category/shoes">신발</a></li>
        <li><a href="/category/bag">가방</a></li>
    </ul>
</nav>

<div>
    <ul>
        <li th:each="imageData : ${imagesData}">
            <img th:src="${imageData.base64Image}" style="width: 200px; height: 200px;"/>
            <a th:href="@{/deleteImage(id=${imageData.id})}">Delete</a>
        </li>
    </ul>
</div>

<script>
    function uploadFile() {
        // FormData 객체 생성: 웹 폼 데이터를 쉽게 구성할 수 있도록 함.
        var formData = new FormData();
        // 사용자가 선택한 파일들을 가져옴.
        var files = document.getElementById('fileInput').files;
        // 모든 선택된 파일을 formData에 추가
        for (var i = 0; i < files.length; i++) {
            formData.append("files", files[i]);
        }
        // 비동기 요청으로 서버에 formData 전송.
        fetch('/upload', {
            method: 'POST',
            body: formData
        }).then(response => {
            // 서버로부터의 응답 처리
            if (response.redirected) {
                window.location.href = response.url;
            }
        });
    }
</script>


</body>
</html>
